@charset 'UTF-8';

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

  /*Conteudo Header !!! */

header { 
    background-color: white;
    height: 100px;   
    display: flex; 
    
}

div.conteudoHeader { 
    display: flex;
    margin: auto;
    
}

div.conteudoHeader h1 { 
    color: rgb(34, 139, 34);
    margin: auto;
}



div.conteudoHeader img  { 
    border-radius: 150px;
    width: 70px;
    height: 70px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

div.conteudoHeader img:hover { 
    cursor: pointer;
    transform: scale(1.1);
}


/*Conteudo Principal !!!!*/


div.informaçoesPerfil { 
    display: flex;
    background-color: #00562d;
    height: 80px;
    
}

div.informaçoesPerfil h1 { 
    text-align: center;
    margin: auto;
    color: white;
}

section.informaçoes  {
    background-color: lightgray;
    /*display: flex;*/
    flex-direction: row-reverse;
    width: 100%;
    margin: auto;
}

section.informaçoes p { 
    font-weight: bolder;
    padding: 10px;
    
}

section.informaçoes > p#contatos { 
    margin-top: 5px;
}

section.informaçoes h1 { 
    background-color: rgb(49, 121, 168);
    color: white;
    text-align: center;
}


div.galeria h1 { 
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #988840;
}

div.galeria { 
    display: flex;
    flex-direction:  column;
   
}



div.galeria img {
    width: 50%;
    margin: auto;
    
}

div.contacts { 
    margin: auto;
    font-size: 1.5em;
   
}

/*Footer */

footer { 
    background-color: #00562d;
    height: 60px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    transition: transform 0.3s ease;
    
}

footer a { 
    color: rgb(236, 236, 236);
    text-decoration: none;
    text-align: center;
    margin: auto;
}

footer a:hover { 
    transform: scale(1.1);
}


